@import "../../utils/mixins.scss";

.headerContainer{
    width:100%;
    height: rem(66);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .headerBar{
        width: 75%;
        height: rem(48);
        border-radius: rem(100);
        background-color: #87C232;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            display: block;
        }
        .contentContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
    }
}