@import "../../utils/mixins.scss";

.footer {
    background-color: black;
    color: white;
    display: flex;
    padding: rem(104) 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .footerHolder {
        width: 80%;
        max-width: rem(1280);

        .leftColumn {
            width: 100%;

            .heading {
                display: flex;
                justify-content: center;
                align-items: center;
@include md{
    justify-content: flex-start;

}

            }

            .columnContainer {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding-top: rem(64);
                flex-direction: column;
                @include md{
                    flex-direction: row;
                    
                }

                .column {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: rem(16);
                    margin-bottom: rem(24);
                    width: 100%;
                    @include md{
                        margin-bottom: 0;
                    align-items: flex-start;

                    }
                    &:last-child{
                        padding-top: rem(36);
                        @include md{
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        .rightColumn {
            width: 20%;
            color: white;

            .chatbotContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16;
            }
        }
    }

    .modalContainer {
        height: 100%;
        width: 100%;
        background-color: white;
    }
}